    a i.iconfont{ font-size: 38px !important; color: #999 !important; margin: 0 20px; border-radius: 50%;}
    a i.mail-size{font-size: 37px !important}
    a i.qzone-size{font-size: 43px !important}
    a i.iconfont:hover {color:#836FFF !important;}
    h1 {
        margin: 0;
        margin-top: 6%;
    }

    h1 div {
      width: 170px; 
      height: 170px; 
      border-radius: 50%;
      background-size: cover !important;
      background: url(../images/joking.jpeg);
    }

    h3 {
        font-family: "Kaushan Script";
        color: #999;
        margin: 20px 0px;
        padding: 4px 15px;
        position: relative;
    }
    h3 span:before {
        position: absolute;
        top: 17px;
        left: 0;
        width: 30px;
        height: 2px;
        content: '';
        background: #999;
        margin-left: -30px;
    }

    h3 span:after {
        position: absolute;
        top: 17px;
        right: 0;
        width: 30px;
        height: 2px;
        content: '';
        background: #999;
        margin-right: -30px;
    }

    .landing {
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-user-select: none;
        user-select: none;
    }
    .landing-buttons {margin: 30px 0px;}
    .landing-button {
        border: 1px solid #ccc;
        border-radius: 33px;
        padding: 10px 30px;
        background-color: white;
        display: inline-block;
        margin-top: 30px;
        margin-right: 20px;
        color: #333;
    }

    .box-shadow:hover,.avatar:hover,.landing-buttons a i:hover,.landing-button:hover{
      -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
      box-shadow: 0 15px 30px rgba(0,0,0,0.1);
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
    }

    .landing-button:hover {
        cursor: pointer;
        border-color: #42b983;
        color: #42b983;
        text-decoration: none;
    }

    .avatar:hover {
			cursor: pointer;
			-webkit-animation: btnGroups 1s linear;
			-webkit-animation: btnGroups 1s linear;
			-moz-animation: btnGroups 1s linear;
			-ms-animation: btnGroups 1s linear;
      animation: btnGroups 1s linear;
		} 

    footer{
      margin-top: 10%;
      color: #999;
      text-align: center;
    }

    footer .busuanzi-count {color: #ca67e5;}

    footer .busuanzi_sider {color: #6fb4f3}

    
@-webkit-keyframes btnGroups {
  0% {
    -webkit-transform: scale(1.2, 0.8);
  }
  1% {
    -webkit-transform: scale(1.18, 0.82);
  }
  2% {
    -webkit-transform: scale(1.16, 0.84);
  }
  3% {
    -webkit-transform: scale(1.13, 0.87);
  }
  4% {
    -webkit-transform: scale(1.1, 0.9);
  }
  5% {
    -webkit-transform: scale(1.07, 0.93);
  }
  6% {
    -webkit-transform: scale(1.04, 0.96);
  }
  7% {
    -webkit-transform: scale(1.01, 0.99);
  }
  8% {
    -webkit-transform: scale(0.99, 1.01);
  }
  9% {
    -webkit-transform: scale(0.97, 1.03);
  }
  10% {
    -webkit-transform: scale(0.95, 1.05);
  }
  11% {
    -webkit-transform: scale(0.94, 1.06);
  }
  12% {
    -webkit-transform: scale(0.93, 1.07);
  }
  13% {
    -webkit-transform: scale(0.93, 1.07);
  }
  14% {
    -webkit-transform: scale(0.93, 1.07);
  }
  15% {
    -webkit-transform: scale(0.93, 1.07);
  }
  16% {
    -webkit-transform: scale(0.94, 1.06);
  }
  17% {
    -webkit-transform: scale(0.94, 1.06);
  }
  18% {
    -webkit-transform: scale(0.95, 1.05);
  }
  19% {
    -webkit-transform: scale(0.96, 1.04);
  }
  20% {
    -webkit-transform: scale(0.98, 1.02);
  }
  21% {
    -webkit-transform: scale(0.99, 1.01);
  }
  22% {
    -webkit-transform: scale(1, 1);
  }
  23% {
    -webkit-transform: scale(1, 1);
  }
  24% {
    -webkit-transform: scale(1.01, 0.99);
  }
  25% {
    -webkit-transform: scale(1.02, 0.98);
  }
  26% {
    -webkit-transform: scale(1.02, 0.98);
  }
  27% {
    -webkit-transform: scale(1.02, 0.98);
  }
  28% {
    -webkit-transform: scale(1.03, 0.97);
  }
  29% {
    -webkit-transform: scale(1.03, 0.97);
  }
  30% {
    -webkit-transform: scale(1.02, 0.98);
  }
  31% {
    -webkit-transform: scale(1.02, 0.98);
  }
  32% {
    -webkit-transform: scale(1.02, 0.98);
  }
  33% {
    -webkit-transform: scale(1.02, 0.98);
  }
  34% {
    -webkit-transform: scale(1.01, 0.99);
  }
  35% {
    -webkit-transform: scale(1.01, 0.99);
  }
  36% {
    -webkit-transform: scale(1.01, 0.99);
  }
  37% {
    -webkit-transform: scale(1, 1);
  }
  38% {
    -webkit-transform: scale(1, 1);
  }
  39% {
    -webkit-transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(0.99, 1.01);
  }
  41% {
    -webkit-transform: scale(0.99, 1.01);
  }
  42% {
    -webkit-transform: scale(0.99, 1.01);
  }
  43% {
    -webkit-transform: scale(0.99, 1.01);
  }
  44% {
    -webkit-transform: scale(0.99, 1.01);
  }
  45% {
    -webkit-transform: scale(0.99, 1.01);
  }
  46% {
    -webkit-transform: scale(0.99, 1.01);
  }
  47% {
    -webkit-transform: scale(0.99, 1.01);
  }
  48% {
    -webkit-transform: scale(0.99, 1.01);
  }
  49% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes btnGroups {
  0% {
    -webkit-transform: scale(1.2, 0.8);
    -moz-transform: scale(1.2, 0.8);
    -ms-transform: scale(1.2, 0.8);
    transform: scale(1.2, 0.8);
  }
  1% {
    -webkit-transform: scale(1.18, 0.82);
    -moz-transform: scale(1.18, 0.82);
    -ms-transform: scale(1.18, 0.82);
    transform: scale(1.18, 0.82);
  }
  2% {
    -webkit-transform: scale(1.16, 0.84);
    -moz-transform: scale(1.16, 0.84);
    -ms-transform: scale(1.16, 0.84);
    transform: scale(1.16, 0.84);
  }
  3% {
    -webkit-transform: scale(1.13, 0.87);
    -moz-transform: scale(1.13, 0.87);
    -ms-transform: scale(1.13, 0.87);
    transform: scale(1.13, 0.87);
  }
  4% {
    -webkit-transform: scale(1.1, 0.9);
    -moz-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  5% {
    -webkit-transform: scale(1.07, 0.93);
    -moz-transform: scale(1.07, 0.93);
    -ms-transform: scale(1.07, 0.93);
    transform: scale(1.07, 0.93);
  }
  6% {
    -webkit-transform: scale(1.04, 0.96);
    -moz-transform: scale(1.04, 0.96);
    -ms-transform: scale(1.04, 0.96);
    transform: scale(1.04, 0.96);
  }
  7% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  8% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  9% {
    -webkit-transform: scale(0.97, 1.03);
    -moz-transform: scale(0.97, 1.03);
    -ms-transform: scale(0.97, 1.03);
    transform: scale(0.97, 1.03);
  }
  10% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  11% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  12% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  13% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  14% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  15% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  16% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  17% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  18% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  19% {
    -webkit-transform: scale(0.96, 1.04);
    -moz-transform: scale(0.96, 1.04);
    -ms-transform: scale(0.96, 1.04);
    transform: scale(0.96, 1.04);
  }
  20% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  21% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  22% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  23% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  25% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  26% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  27% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  28% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  29% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  30% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  31% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  32% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  33% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  34% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  35% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  36% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  37% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  38% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  39% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  41% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  42% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  43% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  44% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  45% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  46% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  47% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  48% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  49% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes btnGroups {
  0% {
    -webkit-transform: scale(1.2, 0.8);
    -moz-transform: scale(1.2, 0.8);
    -ms-transform: scale(1.2, 0.8);
    transform: scale(1.2, 0.8);
  }
  1% {
    -webkit-transform: scale(1.18, 0.82);
    -moz-transform: scale(1.18, 0.82);
    -ms-transform: scale(1.18, 0.82);
    transform: scale(1.18, 0.82);
  }
  2% {
    -webkit-transform: scale(1.16, 0.84);
    -moz-transform: scale(1.16, 0.84);
    -ms-transform: scale(1.16, 0.84);
    transform: scale(1.16, 0.84);
  }
  3% {
    -webkit-transform: scale(1.13, 0.87);
    -moz-transform: scale(1.13, 0.87);
    -ms-transform: scale(1.13, 0.87);
    transform: scale(1.13, 0.87);
  }
  4% {
    -webkit-transform: scale(1.1, 0.9);
    -moz-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  5% {
    -webkit-transform: scale(1.07, 0.93);
    -moz-transform: scale(1.07, 0.93);
    -ms-transform: scale(1.07, 0.93);
    transform: scale(1.07, 0.93);
  }
  6% {
    -webkit-transform: scale(1.04, 0.96);
    -moz-transform: scale(1.04, 0.96);
    -ms-transform: scale(1.04, 0.96);
    transform: scale(1.04, 0.96);
  }
  7% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  8% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  9% {
    -webkit-transform: scale(0.97, 1.03);
    -moz-transform: scale(0.97, 1.03);
    -ms-transform: scale(0.97, 1.03);
    transform: scale(0.97, 1.03);
  }
  10% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  11% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  12% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  13% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  14% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  15% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  16% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  17% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  18% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  19% {
    -webkit-transform: scale(0.96, 1.04);
    -moz-transform: scale(0.96, 1.04);
    -ms-transform: scale(0.96, 1.04);
    transform: scale(0.96, 1.04);
  }
  20% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  21% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  22% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  23% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  25% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  26% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  27% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  28% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  29% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  30% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  31% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  32% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  33% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  34% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  35% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  36% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  37% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  38% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  39% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  41% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  42% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  43% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  44% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  45% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  46% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  47% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  48% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  49% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes btnGroups {
  0% {
    -webkit-transform: scale(1.2, 0.8);
    -moz-transform: scale(1.2, 0.8);
    -ms-transform: scale(1.2, 0.8);
    transform: scale(1.2, 0.8);
  }
  1% {
    -webkit-transform: scale(1.18, 0.82);
    -moz-transform: scale(1.18, 0.82);
    -ms-transform: scale(1.18, 0.82);
    transform: scale(1.18, 0.82);
  }
  2% {
    -webkit-transform: scale(1.16, 0.84);
    -moz-transform: scale(1.16, 0.84);
    -ms-transform: scale(1.16, 0.84);
    transform: scale(1.16, 0.84);
  }
  3% {
    -webkit-transform: scale(1.13, 0.87);
    -moz-transform: scale(1.13, 0.87);
    -ms-transform: scale(1.13, 0.87);
    transform: scale(1.13, 0.87);
  }
  4% {
    -webkit-transform: scale(1.1, 0.9);
    -moz-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  5% {
    -webkit-transform: scale(1.07, 0.93);
    -moz-transform: scale(1.07, 0.93);
    -ms-transform: scale(1.07, 0.93);
    transform: scale(1.07, 0.93);
  }
  6% {
    -webkit-transform: scale(1.04, 0.96);
    -moz-transform: scale(1.04, 0.96);
    -ms-transform: scale(1.04, 0.96);
    transform: scale(1.04, 0.96);
  }
  7% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  8% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  9% {
    -webkit-transform: scale(0.97, 1.03);
    -moz-transform: scale(0.97, 1.03);
    -ms-transform: scale(0.97, 1.03);
    transform: scale(0.97, 1.03);
  }
  10% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  11% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  12% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  13% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  14% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  15% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  16% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  17% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  18% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  19% {
    -webkit-transform: scale(0.96, 1.04);
    -moz-transform: scale(0.96, 1.04);
    -ms-transform: scale(0.96, 1.04);
    transform: scale(0.96, 1.04);
  }
  20% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  21% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  22% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  23% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  25% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  26% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  27% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  28% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  29% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  30% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  31% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  32% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  33% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  34% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  35% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  36% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  37% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  38% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  39% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  41% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  42% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  43% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  44% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  45% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  46% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  47% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  48% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  49% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes btnGroups {
  0% {
    -webkit-transform: scale(1.2, 0.8);
    -moz-transform: scale(1.2, 0.8);
    -ms-transform: scale(1.2, 0.8);
    transform: scale(1.2, 0.8);
  }
  1% {
    -webkit-transform: scale(1.18, 0.82);
    -moz-transform: scale(1.18, 0.82);
    -ms-transform: scale(1.18, 0.82);
    transform: scale(1.18, 0.82);
  }
  2% {
    -webkit-transform: scale(1.16, 0.84);
    -moz-transform: scale(1.16, 0.84);
    -ms-transform: scale(1.16, 0.84);
    transform: scale(1.16, 0.84);
  }
  3% {
    -webkit-transform: scale(1.13, 0.87);
    -moz-transform: scale(1.13, 0.87);
    -ms-transform: scale(1.13, 0.87);
    transform: scale(1.13, 0.87);
  }
  4% {
    -webkit-transform: scale(1.1, 0.9);
    -moz-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  5% {
    -webkit-transform: scale(1.07, 0.93);
    -moz-transform: scale(1.07, 0.93);
    -ms-transform: scale(1.07, 0.93);
    transform: scale(1.07, 0.93);
  }
  6% {
    -webkit-transform: scale(1.04, 0.96);
    -moz-transform: scale(1.04, 0.96);
    -ms-transform: scale(1.04, 0.96);
    transform: scale(1.04, 0.96);
  }
  7% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  8% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  9% {
    -webkit-transform: scale(0.97, 1.03);
    -moz-transform: scale(0.97, 1.03);
    -ms-transform: scale(0.97, 1.03);
    transform: scale(0.97, 1.03);
  }
  10% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  11% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  12% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  13% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  14% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  15% {
    -webkit-transform: scale(0.93, 1.07);
    -moz-transform: scale(0.93, 1.07);
    -ms-transform: scale(0.93, 1.07);
    transform: scale(0.93, 1.07);
  }
  16% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  17% {
    -webkit-transform: scale(0.94, 1.06);
    -moz-transform: scale(0.94, 1.06);
    -ms-transform: scale(0.94, 1.06);
    transform: scale(0.94, 1.06);
  }
  18% {
    -webkit-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  19% {
    -webkit-transform: scale(0.96, 1.04);
    -moz-transform: scale(0.96, 1.04);
    -ms-transform: scale(0.96, 1.04);
    transform: scale(0.96, 1.04);
  }
  20% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  21% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  22% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  23% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  25% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  26% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  27% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  28% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  29% {
    -webkit-transform: scale(1.03, 0.97);
    -moz-transform: scale(1.03, 0.97);
    -ms-transform: scale(1.03, 0.97);
    transform: scale(1.03, 0.97);
  }
  30% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  31% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  32% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  33% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  34% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  35% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  36% {
    -webkit-transform: scale(1.01, 0.99);
    -moz-transform: scale(1.01, 0.99);
    -ms-transform: scale(1.01, 0.99);
    transform: scale(1.01, 0.99);
  }
  37% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  38% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  39% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  41% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  42% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  43% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  44% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  45% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  46% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  47% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  48% {
    -webkit-transform: scale(0.99, 1.01);
    -moz-transform: scale(0.99, 1.01);
    -ms-transform: scale(0.99, 1.01);
    transform: scale(0.99, 1.01);
  }
  49% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}